**/klee-uclibc/*
**/llvm/*
**/minisat/*
**/stp/*
**/z3/*
klee/.clang-format
klee/.dockerignore
klee/.gitattributes
klee/.travis.yml
klee/.travis/
klee/Dockerfile
klee/LICENSE.TXT
klee/Makefile
klee/Makefile.common
klee/Makefile.config.in
klee/Makefile.rules
klee/MetaSMT.mk
klee/NEWS
klee/README.md
klee/TODO.txt
klee/autoconf/
klee/configure
klee/docs/
klee/examples/
klee/include/expr/
klee/include/klee/Config/
klee/include/klee/Internal/
klee/include/klee/util/
klee/lib/Basic/
lib/Core/Makefile
lib/Expr/
lib/Makefile
lib/Module/
lib/README.txt
lib/SMT/
lib/Solver/
lib/Support/
runtime/
scripts/
test/
tools/
unittests/
utils/
