Release/
Release+Asserts/
Debug/
Debug+Asserts/
Output/

cscope.*
*~

*.log
*.sum
*.out
*.status

# In source build files
docs/doxygen.cfg
include/Config/CompileTimeInfo.h
*.config

config.h
site.exp

# Site file for llvm-lit
lit.site.cfg

# Autoconf files
autoconf/aclocal.m4
autoconf/autom4te.cache/
autom4te.cache/

.clang-format
.dockerignore
.gitattributes
.travis.yml
.travis/
Dockerfile
LICENSE.TXT
Makefile
Makefile.common
Makefile.config.in
Makefile.rules
MetaSMT.mk
NEWS
README.md
TODO.txt
autoconf/
configure
docs/
examples/
include/expr/
include/CommandLine.h
include/Common.h
include/Config/
include/Constraints.h
include/Expr.h
include/ExprBuilder.h
include/IncompleteSolver.h
include/Internal/
include/Interpreter.h
include/Solver.h
include/SolverImpl.h
include/SolverStats.h
include/Statistic.h
include/Statistics.h
include/TimerStatIncrementer.h
include/klee.h
include/util/
lib/Basic/
lib/Core/AddressSpace.cpp
lib/Core/AddressSpace.h
lib/Core/CallPathManager.cpp
lib/Core/CallPathManager.h
lib/Core/Context.cpp
lib/Core/Context.h
lib/Core/CoreStats.cpp
lib/Core/CoreStats.h
lib/Core/Executor.h
lib/Core/ExecutorTimerInfo.h
lib/Core/ExecutorTimers.cpp
lib/Core/ExecutorUtil.cpp
lib/Core/ExternalDispatcher.cpp
lib/Core/ExternalDispatcher.h
lib/Core/ImpliedValue.cpp
lib/Core/ImpliedValue.h
lib/Core/Makefile
lib/Core/Memory.cpp
lib/Core/MemoryManager.cpp
lib/Core/MemoryManager.h
lib/Core/ObjectHolder.h
lib/Core/PTree.cpp
lib/Core/PTree.h
lib/Core/Searcher.cpp
lib/Core/Searcher.h
lib/Core/SeedInfo.cpp
lib/Core/SeedInfo.h
lib/Core/SpecialFunctionHandler.cpp
lib/Core/SpecialFunctionHandler.h
lib/Core/StatsTracker.cpp
lib/Core/StatsTracker.h
lib/Core/TimingSolver.cpp
lib/Core/TimingSolver.h
lib/Core/UserSearcher.cpp
lib/Core/UserSearcher.h
lib/Expr/
lib/Makefile
lib/Module/
lib/README.txt
lib/SMT/
lib/Solver/
lib/Support/
runtime/
scripts/
test/
tools/
unittests/
utils/
